/* general CSS */

body {
    overflow-x: hidden;
    color: #0b0157;
    font-size: 16px !important;
    background-color: #f9f9f9;
    font-family: "Play", sans-serif;
}

.searchh {
    position: absolute;
    z-index: 2;
    top: 12px;
    display: block;
    width: 2.375rem;
    height: 1.6rem;
    line-height: 0;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    bottom: 10%;
}

input.form-control.pl30 {
    border-radius: 6px;
    height: 35px;
}

.form-group.has-search {
    position: absolute;
    right: 0%;
    top: 50px;
    z-index: 999;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-indicators li {
    width: 14px !important;
    height: 14px !important;
    border-radius: 50% !important;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    opacity: 10;
    border-radius: 50% !important;
    background-color: #fff !important;
}

.carousel-indicators {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    /*background-color: #020202;
    margin-right: 44%;
    margin-left: 44%;*/
    border-radius: 20px;
    height: 25px;
    bottom: 10px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
}

.carousel-indicators .active {
    background-color: #ff5200 !important;
}

.cart {
    position: absolute;
    right: 6%;
    top: 15px;
}

.clr {
    color: #0b0157;
}
.fs12{
    font-size: 12px;
}
.fs15 {
    font-size: 15px;
}

.fs17 {
    font-size: 17px;
}

.fs20 {
    font-size: 20px;
}

.fs25 {
    font-size: 25px;
}

/* Padding */

.p0 {
    padding: 0px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p25 {
    padding: 25px;
}

.p30 {
    padding: 30px;
}

.p35 {
    padding: 35px;
}

.p40 {
    padding: 40px;
}

.p45 {
    padding: 45px;
}

.p50 {
    padding: 50px;
}

.pt0 {
    padding-top: 0px;
}

.pt3 {
    padding-top: 3px;
}

.pt4 {
    padding-top: 4px;
}

.pt5 {
    padding-top: 5px;
}

.pt8 {
    padding-top: 8px;
}

.pt10 {
    padding-top: 10px;
}

.pt11 {
    padding-top: 11px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 40px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

.pb0 {
    padding-bottom: 0px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb11 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb35 {
    padding-bottom: 35px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb50 {
    padding-bottom: 50px;
}

.py70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.pr0 {
    padding-right: 0px !important;
}

.pr2 {
    padding-right: 2px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pr35 {
    padding-right: 35px;
}

.pr40 {
    padding-right: 40px;
}

.pr45 {
    padding-right: 45px;
}

.pr50 {
    padding-right: 50px;
}

.pl0 {
    padding-left: 0px !important;
}

.pl2 {
    padding-left: 2px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl35 {
    padding-left: 35px;
}

.pl40 {
    padding-left: 40px;
}

.pl45 {
    padding-left: 45px;
}

.pl50 {
    padding-left: 50px;
}

.pl56 {
    padding-left: 56px;
}

.pl65 {
    padding-left: 65px;
}

.px15 {
    padding-left: 15px;
    padding-right: 15px;
}

.px8 {
    padding-right: 8px;
    padding-left: 8px;
}

/* Margin */

.m0 {
    margin: 0px;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.m25 {
    margin: 25px;
}

.m30 {
    margin: 30px;
}

.m35 {
    margin: 35px;
}

.m40 {
    margin: 40px;
}

.m45 {
    margin: 45px;
}

.m50 {
    margin: 50px;
}

.mt0 {
    margin-top: 0px;
}

.mt2 {
    margin-top: 2px;
}

.mt5 {
    margin-top: 5px;
}

.mt-6 {
    margin-top: -6px;
}

.mt10 {
    margin-top: 10px;
}

.mt11 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mt65 {
    margin-top: 65px;
}

.mt67 {
    margin-top: 67px;
}

.mt95 {
    margin-top: 95px;
}

.mt102 {
    margin-top: 102px;
}

.mt108 {
    margin-top: 108px;
}

.mt-6 {
    margin-top: -6px;
}

.mt-33 {
    margin-top: -33px !important;
}

.mt-35 {
    margin-top: -35px !important;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.mr0 {
    margin-right: 0px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

.ml0 {
    margin-left: 0px;
}

.ml2 {
    margin-left: 2px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml22 {
    margin-left: 22px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.ml55 {
    margin-left: 55px;
}

.ml60 {
    margin-left: 60px;
}
.w-65{
    max-width: 65px;
}
.w-80{
    max-width: 80px;
}

.category-bg {
    box-shadow: 1px 1px 17px 1px #b9b9b9;
    border-radius: 5px;
    background-color: #fff;
    padding: 0px 8px;
    margin: 5px 0px;
}
.cat-text {
    font-weight: bold;
    padding-bottom: 12px;
    margin-bottom: 0px;
}
.cat-name {
    vertical-align: middle;
    margin: auto;
}

i.fas.fa-heart {
    position: absolute;
    right: 10%;
    top: 9%;
    font-size: 20px;
    color: #ff4a4a;
}
.pdname{
    color: #000;
    font-size: 11px;
}

span s{
    font-size: 11px;
    color: red;
}
.discount{
    background-color: #ffe6b8;
    text-align: center;
    font-size: 11px;
    border-radius: 3px;
    width: 30px;
    color: #ffa500;
}
i.fas.fa-star,
i.fas.fa-star-half-alt {
    color: #ff5200;
    font-size: 10px;
}
span.rev{
    font-size: 13px;
}
.filter-bg{
    box-shadow: 0px 1px 17px 1px #e0e0e0;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin:10px 0px 4px;
}
.sort:before{
    content: '';
    width: 2px;
    height: 22px;
    background: #ccc;
    position: absolute;
    display: block;
    left: 50%;
}
.sticky-buttons {
    position: fixed;
    width: 100%;
    margin: 0;
    bottom: -2px;
    z-index: 7;
    display: flex;
    margin-left: 0px;
}
.butns-bg {
    background-color: #fff;
    text-align: center;
    border: 1px solid #d5a249;
    height: 40px;
    line-height: 40px;
    padding: 0px;
}

.cart-button {
    background-color: #fff;
    color: #d5a249;
    font-size: 13px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.cart-button:hover,
.cart-button:focus {
    background-color: #d5a249;
    text-align: center;
    border: 1px solid #d5a249;
    color: #fff;
}
i.fab.fa-whatsapp {
    font-size: 18px;
}

.store_icon{
    max-width: 120px;
    margin-right: 15px;
}
.ai-center{
    align-items: center;
}
.theme-shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
}
.categories-section .item{
    margin: 0.75rem 0;
    padding: 0.75rem;
}
.categories-section .item-details{
    display: none;
    padding: 0.75rem 0.75rem 0 0.75rem;
}
.contact p,
.address p{
    padding-left: 1.5rem;
    margin: 1.2rem 0;
    position: relative;
}
.contact p i,
.address p i{
    position: absolute;
    left: -20px;
    background: #fff;
    text-align: center;
    padding: 6px 8px;
    top: -7px;
    font-size: 22px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    border: 1px solid #dee2e6;
    width: 40px;
}
.contact p i{
    left: -25px;
}

/*media Queries*/

/* for medium screen */

@media (min-width: 992px) and (max-width: 1199px) {
    body.drawer-sidebar .page-brand {
        display: inline-block;
        position: absolute;
        right: 35%;
        top: -5px;
    }
}

/* for small screen */

@media (min-width: 768px) and (max-width: 991px) {
    .sidemenu_toggle {
        margin-top: -20px;
    }
}

/* for Ipad */

@media (width: 768px) and (height: 1024px) {
    /*.carousel-indicators {
        margin-right: 41%;
        margin-left: 41%;
        bottom: 30px;   
    }*/
}

@media (width: 1024px) and (height: 768px) {
}

/* for mobile screen*/

@media (min-width: 280px) and (max-width: 991px) {
}

@media (min-width: 992px) {
    .form-group.has-search {
        position: absolute;
        right: 10%;
        top: 18px;
    }
    .cart {
        position: absolute;
        right: 6%;
        top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-indicators {
        margin-right: 42%;
        margin-left: 42%;
    }
}

@media (min-width: 280px) and (max-width: 991px) {
    .content {
        /*padding-top: 15px;*/
    }
    .header {
        height: 90px;
    }
    .header .header-left {
    }
    .sidebar {
        top: 90px;
    }
}

/* for mobile screen portrait */

@media (min-width: 280px) and (max-width: 576px) {
    /*.carousel-indicators {
        height: 16px;
    }

    .carousel-indicators {
        margin-right: 34%;
        margin-left: 34%;
    }*/

    .carousel-indicators li {
        width: 10px !important;
        height: 10px !important;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
    }
}

/* for mobile screen landscape */

@media (min-width: 577px) and (max-width: 767px) {
    /*.carousel-indicators {
        margin-right: 41%;
        margin-left: 41%;
        height: 16px;
    }*/
}

@media (max-width: 767px) {
    .carousel-indicators li {
        width: 10px !important;
        height: 10px !important;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
    }

    .carousel-indicators {
        bottom: 5px;
    }
}

@media (min-width: 200px) and (max-width: 299px) {
    /*.carousel-indicators{
        margin-right: 30%;
        margin-left: 30%;
        height: 18px;
    }*/
}
